# IntelliJ project files
.idea

# Environments
.venv

# Mypy
.mypy_cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
*.sqlite3

#Mac OS
.DS_Store

# Coverage
htmlcov
.pytest_cache
.coverage